.container {
  text-align: center;
  padding: 20px;
}

#catImage {
  width: 100%;
  min-width: 40vw;
  max-width: 50vw;
  height: auto;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  min-height: 40vh;
  max-height: 50vh; /* Adjust the maximum height as per your preference */
}

.buttons {
  margin-top: 20px;
}

.loveBtn {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-right: 5px;
}

.nopeBtn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-left: 5px;
}
