.container {
  text-align: center;
  padding: 20px;
}

#catImage {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 300px; /* Adjust the maximum height as per your preference */
}

.buttons {
  margin-top: 20px;
}

.loveBtn {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-right: 5px;
}

.nopeBtn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-left: 5px;
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {
  #catImage,
  img {
    max-height: 400px; /* Adjust the maximum height for mobile devices */
    max-width: 500px;
  }
}
